<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>Online League Station | Create League</title>
	<link rel="stylesheet" href="{% static  'css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
	<link rel="stylesheet" href="{% static  'css/style.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static  'scripts/bootstrap.js'%}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.privateLeague').hide();
			$('#stepOne').on('click',function (e) {
				if (e.originalEvent.defaultPrevented) return;
				$('.publicLeague').show();
			    $('.privateLeague').hide();
			    $('#stepOne').addClass('btn-primary');
			    $('#stepTwo').removeClass('btn-primary').addClass('btn-default');
			    $('#league_leader').html('View private leagues');
			});
			$('#stepTwo').on('click',function (e) {
				if (e.originalEvent.defaultPrevented) return;
				$('.privateLeague').show();
			    $('.publicLeague').hide();
			    $('#stepOne').removeClass('btn-primary').addClass('btn-default');
			    $('#stepTwo').addClass('btn-primary');
			    $('#league_leader').html('Ready to become a league leader?');
			})
		});
	</script>
</head>
<body class="container">
	<header>
		<a href="{% url 'intro' %}"><img src="{% static  'images/logo.jpg'%}" class="img img-rounded"></a>
		<a href="{% url 'login' %}" class="btn btn-default login">Login</a>
		<a href="{% url 'register' %}" class="btn btn-primary login">Register</a>
	</header><br>
	<nav>
		<ul class="nav nav-tabs nav-justified">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'join_public' %}">Community League</a></li>
			<li class="active"><a href="#">Private Leagues</a></li>
			<li><a href="{% url 'profile' %}">Profile</a></li>
		</ul>
	</nav>
	<hr>
	<div class="create_league">
		<h3>Create League</h3>
		<hr>
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-5"><img src="{% static 'images/image.png' %}" alt="Image"></div>
				<div class="col-lg-7">
					<h3 id="league_leader">
						View private leagues?
					</h3>
					<br>
					<div class="row">
						<div class="col-md-6">
							<button id="stepOne" class="btn btn-primary btn-lg">Step 1</button>
						</div>
						<div class="col-md-6">
							<button id="stepTwo" class="btn btn-default btn-lg">Step 2</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div class="create_account">
		<form id="league_form" method="post" class="form-horizontal" action="/tether/add_league/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
			<div class="publicLeague" id="publicLeague">
			    <div class="team_table">
					<table class="table table-bordered table-hover">
						<tr>
							<th>#</th>
							<th>League Name</th>
							<th>Status</th>
							<th>Join</th>
						</tr>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td><button class="btn btn-primary col-md-offset-3">&nbsp; Join &nbsp;</button></td>
						</tr>
						<tr>
							<td>2</td>
							<td></td>
							<td></td>
							<td><button class="btn btn-primary col-md-offset-3">&nbsp; Join &nbsp;</button></td>
						</tr>
						<tr>
							<td>3</td>
							<td></td>
							<td></td>
							<td><button class="btn btn-primary col-md-offset-3">&nbsp; Join &nbsp;</button></td>
						</tr>
						<tr>
							<td>4</td>
							<td></td>
							<td></td>
							<td><button class="btn btn-primary col-md-offset-3">&nbsp; Join &nbsp;</button></td>
						</tr>
					</table>
				</div>
			    <br>
		    </div>
		    <div class="privateLeague" id="privateLeague">
		    	<br>
                {{ form.non_field_errors }}
			    <div class="form-group">
                    {{ form.league_name.errors }}
                    <label for="{{ form.league_name.id_for_label }}" class="col-sm-offset-1 col-sm-2 control-label">League Name</label>
                    {{ form.league_name }}
                    <div class="col-sm-5"></div>
			    </div>
			    <div class="form-group">
                    {{ form.region.errors }}
                    <label for="{{ form.region.id_for_label }}" class="col-sm-offset-1 col-sm-2 control-label">Region</label>
                    {{ form.region }}
                    <div class="col-sm-5"></div>
			    </div>
                <div class="form-group">
                    {{ form.skill_level.errors }}
                    <label for="{{ form.skill_level.id_for_label }}" class="col-sm-offset-1 col-sm-2 control-label">Skill Level</label>
                    {{ form.skill_level }}
                    <div class="col-sm-5"></div>
			    </div>
                <div class="form-group">
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}" class="col-sm-offset-1 col-sm-2 control-label">Password</label>
                    {{ form.password }}
                    <div class="col-sm-5"></div>
			    </div>
            </div>
			    <br>
			    <div>
			    	<div class="form-group row">
				        <div class="col-sm-offset-3 col-sm-5">
				            <button type="submit" class="btn btn-success btn-lg btn-block">Create League</button>
				        </div>
				    </div>
			    </div>
        </form>
    </div>

	<br><hr>
	<footer>
		<div class="footer-social-icons">
				<p>Contact Us:</p>
				<ul class="list-inline">
					<li><a href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-slack fa-lg" aria-hidden="true"></i></a></li>
				</ul>
			</div>
	</footer>
	<br>

</body>
</html>