<!DOCTYPE html>
{% load  staticfiles %}
{% load django_tables2 %}

<html>
<head>
	<title>Online League Station | Community Leagues</title>
	<link rel="stylesheet" type="text/css" href="{% static  'css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static  'css/style.css'%}">
</head>
<body class="container">
	<header>
		<a href="{% url 'intro' %}"><img src="{% static 'images/logo.jpg' %}" class="img img-rounded"></a>
		<a href="{% url 'login' %}" class="btn btn-default login">Login</a>
		<a href="{% url 'register' %}" class="btn btn-primary login">Register</a>
	</header><br>
	<nav>
		<ul class="nav nav-tabs nav-justified">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li class="active"><a href="#">Community League</a></li>
			<li><a href="{% url 'add_league' %}">Private Leagues</a></li>
			<li><a href="{% url 'profile' %}">Profile</a></li>
		</ul>
	</nav>
	<hr>
	<div class="welcome">
		<h3>Join Community League</h3>
		<hr>
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-5"><img src="{% static 'images/image.png' %}" alt="Image"></div>
				<div class="col-lg-7">
					<p>We offer the largest number of Community leagues on the internet with the most competitive and challenging environment.</p>
					<p>Join a league and play in tournaments of all your favorite games. Browse through the leagues below and when you find one you like, click on "Join Now".</p>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div class="available_league">
		<h3>Active Community Leagues</h3>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<label for="search" class="col-md-2">Search</label>
				<div class="col-md-10">
					<input type="text" name="search" class="form-control">
				</div>
			</div>
		</div><br>
		<div class="league_table">
            <table class="table table-bordered table-hover">
                {% render_table table %}
            </table>
			<div class="row">
				<div class="pagination pull-right">
					Page:
					<nav aria-label="...">
						<ul class="pagination">
							<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2 <span class="sr-only"></span></a></li>
							<li><a href="#">3 <span class="sr-only"></span></a></li>
							<li><a href="#">4 <span class="sr-only"></span></a></li>
							<li><a href="#">5 <span class="sr-only"></span></a></li>
							<li><a href="#">6 <span class="sr-only"></span></a></li>
							<li><a href="#">7 <span class="sr-only"></span></a></li>
							<li><a href="#">8 <span class="sr-only"></span></a></li>
							<li><a href="#">9 <span class="sr-only"></span></a></li>
							<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<br><hr>
	<footer>
		<div class="footer-social-icons">
				<p>Contact Us:</p>
				<ul class="list-inline">
					<li><a href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-slack fa-lg" aria-hidden="true"></i></a></li>
				</ul>
			</div>
	</footer>
	<br>
</body>
</html>