<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Online League Station | Create or Join Leagues</title>
</head>
<body class="container">
	<div class="display_league_info">
		<div class="row">
			<div class="col-md-6 matches_lobby">
				<h3>Matches Lobby</h3>
                {{ match.name }}
				<hr>
				<div class="row">
					<div class="col-xs-6">

						<button id="p1" class="btn btn-success btn-lg btn-block" data-player1="{{ match.player1 }}" type="button">
                            {% if match.player1 %}
                                {{ match.player1 }}
                            {% else %}
                                Player 1
                            {% endif %}
                        </button>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">Player 2</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>


					</div>

					<div class="col-xs-6">

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

						<br><br><br>

						<a class="btn btn-success btn-lg btn-block" href="#">etc</a>

					</div>
				</div>
				<hr>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				<div class="row">
					<div class="col-md-offset-3 col-md-3">
						<button class="btn btn-default btn-block">Start</button>
					</div>
					<div class="col-md-3">
						<button class="btn btn-warning btn-block">End Game</button>
					</div>
				</div>
				<br>
			</div>
		</div>
		<br><br>
	</div>
</body>
</html>